*{
    margin:0;
    padding: 0;
}
    

.wrap{
    width: 100%;
    float: left;


}
.topnav{
    overflow: hidden;
    background-color: white;
}

.main{
    width: 100%;
    height: 100vh;
    background-color: rgb(189, 125, 80);
    background-image: url(bg1.jpg);
    background-size: cover;
    position: relative;
}

.main h1{
    position: absolute;
    top: 50%;
    color: #fff;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 40px;
}

.sidebar{
    height: 100vh;
    width: 226px;
    background-color: black;
    position: fixed;
    z-index: 999;
    padding: 40px;
    left: -226px;
    box-sizing: border-box;
    transition: 0.5s;
}
.sidebar a:hover {
    background-color: white;
    color: black;
  }
  
  .topnav input[type=text] {

    float: right;
    padding: 6px;
    border: 2px solid grey;
    border-radius: 18px;
    margin-top: 6px;
    margin-right: 26px;
    font-size: 12px;
    width: 233px;
  }


  .logo{
    padding-top: -9px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  height: 21px;
  }

  .logo img{
    width: 117px;
    height: 71px;
  }
.opensidebar{
    left: 0;
}
.sidebar h1{
    color: #fff;
    font-size: 25px;
    font-weight: normal;
    text-transform: uppercase;
}
.sidebar ul{
    display: block;
    margin-top: 50px;

}

.sidebar ul li{
    padding: 2px 0px;
    margin-bottom: 10px;
    
}

.sidebar ul li a{
    color:#fff;
    font-size: 18px;
    text-decoration: none;
}

#menu{
    position: absolute;
    right: -20px;
    top: 0;
    cursor: pointer;
    width: 20px;
    height: auto;
}

#google_translate_element{
    float: right;
}

.chat--icon{
    width: 96px;
    height: 96px;
    position: sticky;
    position: -webkit-sticky;
    top: 90%;
    left: 100%;
    background: url('./icons8-chat-room-96.png');
    background-size: 75%;
    background-repeat: no-repeat;
    cursor: pointer;
}