<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ODISHA ALUMNI PORTAL</title>
</head>
<body>
    <h1>WELCOME TO ODISHA ALUMNI PORTAL</h1>
    <a href="{{url_for('login')}}">LOGIN</a>
    <a href="{{url_for('signup')}}">SIGNUP</a>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <div class="flashes">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}
</body>
</html>